body {
    font-family: Arial, sans-serif;
    /* Old browsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-180deg, #35577D, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-180deg, #35577D, #141E30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    color: #ffffff;
}

h3 {
    color: #66dfc7;
}

p {
    font-size: 18px;
}

h4 {
    color: #f8f8f8;
}

.large-text {
    font-size: 60px;
    font-weight: bold;
}

.intro {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a {
    color:rgba(247, 181, 180, 0.932)
    
}

.docs {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.writer {
    font-family: Helvetica;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.writer img {
    width: 50px;
    margin-right: 10px;
}