body {
    font-family: Arial, sans-serif;
    justify-content: center;
    height: 100vh;
    background: #141E30;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    transition: background-color 0.5s ease;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

h3 {
    color: #66dfc7;
    margin-left: 10px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

h4 {
    color: #f8f8f8;
}

.large-text {
    font-size: 60px;
    font-weight: bold;
}

.intro {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.docs {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.writer {
    font-family: Helvetica;
    display: flex;
    align-items: center;
}



img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

a h1 {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.account {
    padding-bottom: 20px;
    border: 1px solid #124d90;
    background-color: #ffe436;
    width : 37%;
    font-size: 150% !important;
    color: orangered !important;
}
.history {
    border: 0px solid LightGrey;
    background-color: #141E30;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 90%;
    height: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.history a {
    color: rgb(68, 68, 68);
    background-color: lightblue;
    border: 1px solid rgb(44, 152, 207);
    border-radius: 3px;
    font-size: 200%;
}
.history a:hover {
    background-color: #124d90;
    border: 2px solid rgb(44, 152, 207);
    color: lightblue;
}
#PLAYbutton {
    background-color: crimson;
    border: 0px solid crimson;
    border-radius: 3px;
    font-size: 50px;
    color: #66dfc7;
    margin-bottom: 20px;
}
#PLAYbutton:hover {
    border: 0px solid #66dfc7;
    background-color: #66dfc7;
    color: crimson;
}

#secret {
    background-color: rgb(7, 196, 1);
    border: 0px solid rgb(255, 138, 161);
    border-radius: 3px;
    font-size: 50px;
    color: #66dfc7 !important;
    margin-bottom: 20px;
}

#secret:hover {
    border: 0px solid #66dfc7;
    background-color: #66dfc7;
    color: crimson !important;
}

.faq {
    width: 300px;
    background-color: #ffb1b1;
    border: 3px groove #c7f195;
    border-radius: 5px;
    padding: 40px;
    color: rgb(116, 114, 114);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.faq:hover {
    background-color: #c7f195;
    border: 3px solid #ffb1b1;
}

.question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: large;
}

.answer {
    display: none;
    margin-top: 40px;
}