body {
    font-family: Arial, sans-serif;
    background: #141E30;
    background: -webkit-linear-gradient(-180deg, #35577D, #141E30);
    background: linear-gradient(-180deg, #35577D, #141E30);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

h3 {
    color: #66dfc7;
    margin-left: 10px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

h4 {
    color: #f8f8f8;
}

.large-text {
    font-size: 60px;
    font-weight: bold;
}

.intro {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: rgba(247, 181, 180, 0.932);
}

.docs {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.writer {
    font-family: Helvetica;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.writer img {
    width: 100px;
    margin-right: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

a h1 {
    margin: 0;
    font-size: 24px;
}